#root {
  height: 100vh;
  width: 100vw;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1rem;
}
body {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/greysky.jpg");
}

.good-weather {
  background-image: url("./images/bluesky.jpg");
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.class1 {
  background-color: #3198dc57;
  color: #0664a1;
}
.class2 {
  background-color: #0f1d3871;
  color: whitesmoke;
}
